<div>
  <h1><%= @job.pickup_date, @job.deliver_date %></h1>
  <%= button_to 'Add Address', new_job_address_path(@job), method: :get %>

  <% if @addresses.any? %>

  <div class='row'>

    <%= @addresses.each do |address| %>
      <div class="panel panel-success">
        <div class="panel-heading">Address Information</div>
        <div class="panel-body">
          <p>...</p>
        </div>

        <ul class="list-group">
          <li class="list-group-item"><%= job.description %></li>
          <li class="list-group-item"><%= job.details %></li>
          <li class="list-group-item"><%= job.special_details %></li>
          <li class="list-group-item"><%= job.pickup_date %></li>
          <li class="list-group-item"><%= job.deliver_date %></li>
          <li class="list-group-item"><%= job.address.street_address %></li>
          <li class="list-group-item"><%= job.address.sub_district %></li>
          <li class="list-group-item"><%= job.address.district %></li>
          <li class="list-group-item"><%= job.address.province %></li>
          <li class="list-group-item"><%= job.address.country %></li>
          <li class="list-group-item"><%= job.address.postal_code %></li>
          <li class="list-group-item"><%= link_to 'Edit Address', jobs_path(@job, @address) %></li>
        </ul>
      </div>
    <% end %>
      <% else %>
        <h3>To get started, add an address for this Job.</h3>
      <% end %>
  </div>
</div>
